$amarilloMenu:rgb(250, 198, 28);
$amarilloSubmenu:rgb(255, 187, 60);
$colorFacebook:rgb(0, 110, 255);
$colorTwitter:rgb(86, 154, 243);
$colorInstagram:rgb(255, 0, 191);
$grisFooter:rgb(76, 80, 87);
$colorHoverSubmenu:rgba(148, 147, 146,0.3);
$colorLetraSesiones:rgb(150, 97, 0);
$colorLetraMenuDesplegable:#949392;
$colorEnlace:rgb(186, 148, 21);
$colorEnlaceHover:rgb(84, 66, 10);
$colorEspacio:#B6B1B1;
$colorFormuContacto:#979797;
$colorModalJuego:#888;
$blancoOpaco09:rgba(255, 255, 255,0.9);
$blancoOpaco08:rgba(255, 255, 255,0.8);
$blancoOpaco07:rgba(255, 255, 255, 0.7);
$blancoOpaco05:rgba(255, 255, 255, 0.5);
$borderPaginacion:#dee2e6;
$colorEditarEntrada:rgb(97, 97, 243);
$colorEliminarEntrada: rgb(236, 69, 69);
$colorGuardarEntrada:rgb(126, 188, 240);
$colorBotonDesplegableAdmin:#8F5B2C;
$colorTablaAdmin:#f2f2f2;
$colorBorderAdmin:#ccc;
$colorPaginacion:#333;
$colorPaginaActual:#007bff;
$colorPaginaActualClaro:#72adec;
$fondoApartadosAdmin:rgba(248, 249, 250,0.5);
$fondoApartadosAdminPeque:#f8f9fa;
$negroOpaco01:rgba(0, 0, 0, 0.1);
$negroOpaco03: rgba(0, 0, 0,0.3);
$negroOpaco04:rgba(0, 0, 0 , 0.4);
$negroOpaco05:rgba(0, 0, 0, 0.5);
$negroOpaco08:rgba(0, 0, 0, 0.8);
$colorFondoReporte:rgba(133, 132, 131, 0.4);
$fondoBuscador:#D3D3D3;
$colorGrisBotonMensajeria:gray;
$colorHoverBotonMensajeria:rgb(168, 167, 167);
$colorInicialBuscadorBoton:#dfdcdc;
$colorHoverBuscadorBoton:#9e9e9e;
$colorGrisPerfil:rgba(160, 160, 160, 0.3);
$colorEfectoHover:rgba(250, 198, 28,0.6);
$colorEditarEntrada2:rgb(250, 198, 28);
$fondoOpacoFormu: rgba(180, 183, 185,0.3);
$colorPagina:antiquewhite;
$colorClose:#aaa;
$blanco: white;
$negro: black;
$fondoApartadosIndi:rgba(204, 172, 68, 0.8);
// Paddings/Margins
$nada:none;
$cero:0px;
$uno:1px;
$dos:2px;
$tres:3px;
$cuatro:4px;
$cinco:5px;
$siete:7px;
$ocho:8px;
$diez: 10px;
$doce:12px;
$catorce:14px;
$quince:15px;
$dieciseis:16px;
$dieciocho:18px;
$veinte: 20px;
$veinticuatro:24px;
$veinticinco:25px;
$veintiseis:26px;
$veintiocho:28px;
$treinta:30px;
$treintacinco:35px;
$cuarenta:40px;
$cuarentacinco:45px;
$cuarentaocho:48px;
$cincuenta:50px;
$sesenta:60px;
$setenta:70px;
$setentaocho:78px;
$noventa:90px;
$noventaOcho:98px;
$cien:100px;
$cientocinco:105px;
$cientodiez:110px;
$cientoveinte:120px;
$cientotreinta:130px;
$cientocuarenta:140px;
$cientocinquenta:150px;
$cientosetenta:170px;
$cientoochenta:180px;
$doscientos:200px;
$doscientoscinco:205px;
$doscientosveinte:220px;
$doscientoscincuenta:250px;
$doscientosochenta:280px;
$trescientos:300px;
$trescientoscinquenta:350px;
$trescientosnoventa:390px;
$cuatrocientos:400px;
$cuatrocientosveinte:420px;
$cuatrocientoscinquenta:450px;
$cuatrocientosochenta:480px;
$cuatrocientosnoventa:490px;
$quinientos:500px;
$quinientoscincuenta:550px;
$seiscientos:600px;
$seiscientoscincuenta:600px;
$setecientos:700px;
$setecientoscincuenta:750px;
$setecientossetenta:770px;
$ochocientos:800px;
$ochocientoscincuenta:850px;
$ochocientosnoventa:890px;
$novecientos:900px;
$novecientoscuarenta:940px;
$novecientoscincuenta:950px;
$mil:1000px;
$milcien:1100px;
$milcientocincuenta:1150px;
$mildoscientos:1200px;
$miltrescientos:1300px;
$milquinientos:1500px;
$milsetecientos:1700px;

// Porcentajes
$veinteporciento:20%;
$veintidosporciento:22%;
$veinticincoporciento:25%;
$veintiseisporciento:26%;
$veintiochoporciento:28%;
$treintaporciento:30%;
$treintadosporciento:32%;
$treintatresporciento:33%;
$treintacuatroporciento:34%;
$treintaochoporciento:38%;
$cuarentaporciento:40%;
$cuarentaycincoporciento:45%;
$cincuentaporciento:50%;
$cincuentatresporciento:53%;
$cincuentaycincoporciento:55%;
$cincuentaysieteporciento:57%;
$sesentaporciento:60%;
$sesentacincoporciento:65%;
$setentaporciento:70%;
$ochentaporciento:80%;
$noventaporciento:90%;
$cienporciento:100%;
$ochenta:80px;

$z-150:150;
$z-10:10;
$z-3:3;
$z-1:1;
$z-1000:1000;

$rem2:2rem;
$cienvh:100vh;

$negrita:bold;
$cursorSenalando:pointer;
$textoCentro:center;

